body {
    background: url('https://2.bp.blogspot.com/-QCNLvg32ulU/VaOWslE-aXI/AAAAAAAAGAc/KYWYae8-hFA/s1600/background.jpg') top/cover no-repeat;
}
.main-app {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.main-frame {
    background: url('/Users/davidcalderwood/Helio/Projects/react-profile/kal-loftus-763703-unsplash.jpg');
    height: 500px;
    width: 750px;
    position: relative;
}
.right-menu {
    background-color: rgb(243, 241, 241);
    justify-content: flex-end;
    margin-left: auto;
    border: 1px solid black;
    height: 100%;
    width: 20%;
    float: right;
    overflow: hidden;
}
.navigate {
    border: 1px solid blue;
    width: 100%;
    height: 33%;
    text-align: center;
    vertical-align: center;
}
p {
    margin: 49% 0 49% 0;
}
.footer {
    background-color: lightgray;
    position: absolute;
    bottom: 0;
    border: 1px solid orange;
    width: 79.5%;
    flex-direction: row;
    float: left;
    overflow: hidden;
    display: flex;
    height: 20%;
}
.footer-nav {
    border: 1px solid green;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 6%;
}
.components {
    border: 2px solid black;
    height: 79%;
    width: 79.5%;
    position: absolute;
    /* background-image: url('Waterski.jpg'); */
}
.Photo1 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
}
.name {
    width: 50%;
    border-radius: 25%;
    background-color: white;
}