body {
    background: url('https://images.unsplash.com/photo-1533229509385-807924881374?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=ca173746b34758e6c808a2e22db5f615&auto=format&fit=crop&w=1500&q=80.jpg') top/cover no-repeat;
     /* Credit for this photo goes to unsplash.com, photo by Kal Loftus */
     font-family: 'Courier New', Courier, monospace;

}
.main-app {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}
.main-frame {
    background: url('https://2.bp.blogspot.com/-QCNLvg32ulU/VaOWslE-aXI/AAAAAAAAGAc/KYWYae8-hFA/s1600/background.jpg') top/cover no-repeat;
    height: 500px;
    width: 750px;
    position: relative;
    border: 5px solid black;
}
.right-menu {
    background-color: rgb(226, 210, 210);
    justify-content: flex-end;
    margin-left: auto;
    border: 1px solid black;
    height: 100%;
    width: 20%;
    float: right;
    overflow: hidden;
    text-decoration: none; color: black;
}
.navigate {
    border: 1px solid black;
    width: 100%;
    height: 33%;
    text-align: center;
    vertical-align: center;
    text-decoration: none; color: black;
}
.navigate2 {
    border: 1px solid black;
    width: 100%;
    height: 33%;
    text-align: center;
    vertical-align: center;
    text-decoration: none; color: black;
}
.navigate3 {
    border: 1px solid black;
    width: 100%;
    height: 33%;
    text-align: center;
    vertical-align: center;
    text-decoration: none; color: black;
}
.navigate:hover {
    transform: scale(1.1)
}
.navigate2:hover {
    transform: scale(1.1)
}
.navigate3:hover {
    transform: scale(1.1)
}
p {
    margin: 49% 0 49% 0;
}
.footer {
    background-color: rgb(155, 147, 147);
    position: absolute;
    bottom: 0;
    width: 79.5%;
    flex-direction: row;
    float: left;
    overflow: hidden;
    display: flex;
    height: 20%;
}
.footer-nav {
    border: 1px solid black;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 0%;
    text-decoration: none; color: black;
}
.footer-nav2 {
    border: 1px solid black;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 0%;
    text-decoration: none; color: black;
}
.footer-nav3 {
    border: 1px solid black;
    flex-direction: column;
    width: 100%;
    text-align: center;
    padding-top: 0%;
    text-decoration: none; color: black;
}
.footer-nav:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.footer-nav2:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.footer-nav3:hover {
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.components {
    border: 2px solid black;
    height: 79%;
    width: 79.5%;
    position: absolute;
}
.Photo1 {
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 2px solid grey;
    box-shadow: 10px 5px 5px rgb(82, 82, 82);
}
.Photo1:hover {
    transform: scale(1.15)
}
.Photo2 {
    height: 500px;
    width: 750px;
}
.name {
    font-size: 4em;
    font-family: cursive;
    color: rgb(255, 253, 147);
}
.about-color {
    color: black;
    text-align: center;
}

a:visited { text-decoration: none; }
a:hover { transform: scale(1.1) }
a:focus { text-decoration: none; }
a:hover, a:active { text-decoration: none; }


/* ----------------------- Animations -------------------------- */

.typewriter h1 {
    /* /typewriter effect targets the h1 element */
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .1em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
